.instruct-header {
  max-width:800px;
  cursor:default;
  min-height:520px;
  position:relative;
}
.next-btn {
    position:absolute;
    bottom:0px;
    right:0px;
}
.prev-btn {
    position:absolute;
    bottom:0px;
    left:0px;
}
#video-container {
    background-color:#f1f1f1;margin-left:auto;margin-right:auto;
    margin-bottom:20px;margin-top:20px;
}
.tooltip.in {
  opacity: 1;
}
.sender-txt {
  font-weight: bold;
  color: #0070c0;
}
.receiver-txt {
  font-weight: bold;
  color: #00B050;
}
strong {
  font-weight: bold;
}