<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to FEMS</title>
    <link rel="icon" href="./img/favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="./css/style.css?version=2">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <script type="text/javascript" src="./js/slider.js?version=3"></script>
</head>
<body onload="phase2_fb()">
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-5 mb-3 bg-white border-bottom shadow-sm">

    <img src="./img/favicon.png" width="25" height="25" class="mr-3" alt="">

    <h5 class="my-0 mr-md-auto font-weight-normal">Affective Computing - FEMS</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="./index.html">Restart</a>
        <a class="p-2 text-dark" href="./final.html">Exit</a>
    </nav>
</div>
<div class="instruct-header px-3 py-3 pt-md-6 pb-md-4 mx-auto text-center">
    <div style="width:100%;height:100px;"></div>
    <h3 class="display-5 mb-4">You decided to share <strong>${{give}}</strong>.</h3>
    <h3 class="display-5 mb-4">The agent received <strong>${{receive}}</strong>.</h3>
    <h3 class="display-5 mb-4">The agent is making its decision...</h3>

</div>
</body>
</html>