<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Welcome to FEMS</title>
    <link rel="icon" href="./img/favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="./css/style.css?version=2">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body onload="init()">
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-5 mb-3 bg-white border-bottom shadow-sm">

    <img src="./img/favicon.png" width="25" height="25" class="mr-3" alt="">

    <h5 class="my-0 mr-md-auto font-weight-normal">Affective Computing - FEMS</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="./index.html">Restart</a>
        <a class="p-2 text-dark" href="./final.html">Exit</a>
    </nav>
</div>
<div id="main" class="instruct-header px-3 py-3 pt-md-6 pb-md-4 mx-auto text-center">
    <h2 class="display-5 mb-4">Section1</h2>
    <img style="width:70%;" src={{img}}/>
    <p class="lead">{{name}} decide to share <strong>${{give}}</strong> with you.</p>
    <p class="lead">You receive: <strong>${{give}} &times; 3 = ${{receive}}</strong>.</p>
    <div style="width:100%;height:50px;"></div>
    <a class="next-btn btn btn-sm btn-info" href="/phase1-1" role="button">Next&nbsp;&raquo;</a>
</div>
<div style="width:100%;height:40px;"></div>
<script src="./js/jquery.slim.min.js"></script>
<script src="./js/popper.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
</body>
</html>