<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to FEMS</title>
    <link rel="icon" href="./img/favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script type="text/javascript" src="./js/slider.js"></script>
</head>
<body onload="pick_partner()">
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-5 mb-3 bg-white border-bottom shadow-sm">
    <img src="./img/favicon.png" width="25" height="25" class="mr-3" alt="">

    <h5 class="my-0 mr-md-auto font-weight-normal">Affective Computing - FEMS</h5>
</div>
<div style='position:fixed;top:0;width:100%;height:80%;color:#00868B;text-align:center;display:table;'>
    <div style='display:table-cell;vertical-align:middle;'>
        <h2>Picking up a partner for you, wait a second...</h2>
    </div>
</div>
</body>
</html>