<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Welcome to FEMS</title>
    <link rel="icon" href="./img/favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="./css/style.css?version=2">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <script type="text/javascript" src="./js/record.js?version=6"></script>
</head>
<body onload="init()">
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-5 mb-3 bg-white border-bottom shadow-sm">

    <img src="./img/favicon.png" width="25" height="25" class="mr-3" alt="">

    <h5 class="my-0 mr-md-auto font-weight-normal">Affective Computing - FEMS</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="./index.html">Restart</a>
        <a class="p-2 text-dark" href="./final.html">Exit</a>
    </nav>
</div>
<div id="main" class="instruct-header px-3 py-3 pt-md-6 pb-md-4 mx-auto text-center">
    <h2 class="display-5 mb-4">Section1</h2>
    <p class="lead mb-0">{{name}} decides to share <strong>${{give}}</strong> with you. You receive: <strong>${{give}}
        &times; 3 = ${{receive}}</strong>.</p>
    <p class="lead mb-0" style="margin-bottom:5px;">How do you feel about this offer?</p>
    <div id="video-container">

    </div>
    <div class="btn-group">
        <button type="button" id="snap" class="btn btn-sm btn-light">
            Take photo
            <svg class="bi bi-camera" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M9 5C7.343 5 5 6.343 5 8a4 4 0 0 1 4-4v1z"/>
                <path fill-rule="evenodd"
                      d="M14.333 3h-2.015A5.97 5.97 0 0 0 9 2a5.972 5.972 0 0 0-3.318 1H1.667C.747 3 0 3.746 0 4.667v6.666C0 12.253.746 13 1.667 13h4.015c.95.632 2.091 1 3.318 1a5.973 5.973 0 0 0 3.318-1h2.015c.92 0 1.667-.746 1.667-1.667V4.667C16 3.747 15.254 3 14.333 3zM1.5 5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zM9 13A5 5 0 1 0 9 3a5 5 0 0 0 0 10z"
                      clip-rule="evenodd"/>
                <path d="M2 3a1 1 0 0 1 1-1h1a1 1 0 0 1 0 2H3a1 1 0 0 1-1-1z"/>
            </svg>
        </button>
        <button id="remove" type="button" class="btn btn-sm btn-light">
            Remove
            <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                      clip-rule="evenodd"/>
            </svg>
        </button>
        <!-- <button id="upload" type="button" class="btn btn btn-sm btn-light">
            Upload
            <svg class="bi bi-cloud-upload" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M4.887 6.2l-.964-.165A2.5 2.5 0 1 0 3.5 11H6v1H3.5a3.5 3.5 0 1 1 .59-6.95 5.002 5.002 0 1 1 9.804 1.98A2.501 2.501 0 0 1 13.5 12H10v-1h3.5a1.5 1.5 0 0 0 .237-2.981L12.7 7.854l.216-1.028a4 4 0 1 0-7.843-1.587l-.185.96z"/>
                <path fill-rule="evenodd"
                      d="M5 8.854a.5.5 0 0 0 .707 0L8 6.56l2.293 2.293A.5.5 0 1 0 11 8.146L8.354 5.5a.5.5 0 0 0-.708 0L5 8.146a.5.5 0 0 0 0 .708z"
                      clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M8 6a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 6z"
                      clip-rule="evenodd"/>
            </svg>
        </button> -->
    </div>
    <div style="width:100%;height:50px;">
        <p id="upload-text" style="padding-top: 10px; font-weight: bold; visibility: hidden;">Uploading...</p>
    </div>
    <button id="next" class="next-btn btn btn-sm btn-info" onclick="upload_pic()">Save & Next&nbsp;&raquo;</button>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="./js/popper.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
</body>
</html>